.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 400px;

  h2 {
    margin: 10px 0;
    font-weight: bolder;
    color: rgb(4, 78, 153);
  }
  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 40%;
  }
}
